.grid-container {
  background-color: #000;
  display: grid;
  grid-template-areas: "side-bar header header header" "side-bar main-container main-container main-container" "side-bar main-container main-container main-container";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
  height: 100vh;
}

.side-bar {
  grid-area: side-bar;
  z-index: 1;
}

.header {
  grid-area: header;
}

.main-container {
  grid-area: main-container;
  overflow-y: scroll;
  z-index: 1;
}

@media screen and (max-width: 1345px) {
  .grid-container {
    grid-template-areas: "header header header header" "main-container main-container main-container main-container" "main-container main-container main-container main-container";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
  }

  .header {
    grid-area: header;
  }

  .main-container {
    grid-area: main-container;
  }

  .side-bar{
    display: none;
  }
}

.particles {
  background-color: var(--primary-background);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}