.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 1;
}

.header__title {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.header__nav {
  list-style: none;
}