.header {
  align-items: center;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 1;
}

.header__title {
  font-size: 2rem;
}

.header__nav {
  list-style: none;
}