.side-bar {
  bottom: 30rem;
  font-size: 300%;
  font-weight: bold;
  height: 45em;
  left: 0;
  overflow: hidden;
  padding: 2rem;
  position: absolute;
  transform: perspective(40rem) rotateX(28deg);
  transform-origin: 49% 100%;
  width: 42rem;
}

.side-bar:after {
  background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, transparent 100%);
  bottom: 60%;
  content: ' ';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.side-bar__content {
  animation: scroll 100s linear 4s infinite;
  position: absolute;
  top: 100%;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}